:root {
  --white: #FFFFFF;
  --pink-1: #F48FB1;
  --pink-2: #E91E63;
  --pink-3: #C2185B;
  --gray-1: #EEEEEE;
  --gray-2: #9E9E9E;
  --text-light: #740909;
  --text-dark: #212121;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--gray-1);
  padding: 2vmin;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  height: 100%;
}

.align-ctr {
  text-align: center;
}

.align-rt {
  text-align: right;
}

.smaller {
  font-size: smaller;
}

.flex-ctr-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-j-end {
  justify-content: flex-end;
}

.scroll-y {
  overflow-y: scroll;
}

section-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--pink-1);
  color: var(--text-dark);
  border: .2vmin solid var(--pink-2);
  border-radius: 2vmin;
  padding: 1vmin;
  text-align: center;
  font-size: 3vmin;
}

.form-container {
  padding: 3vmin;
  background-color: var(--gray-1);
  border: .2vmin solid var(--pink-2);
  border-radius: 2vmin;
}

p.error-message {
  color: var(--pink-2);
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.5vmin;
  color: var(--text-light);
}

label {
  font-size: 3vmin;
  display: flex;
  align-items: center;
}

input {
  padding: 1vmin;
  font-size: 2.5vmin;
  border: .2vmin solid var(--pink-2);
  border-radius: .8vmin;
  color: var(--text-dark);
  background-image: none !important; /* prevent lastpass */
  outline: none;
}

button, a.button {
  margin: 1vmin;
  padding: 1.5vmin;
  color: var(--text-light);
  background-color: var(--pink-2);
  font-size: 3vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: .2vmin solid var(--pink-3);
  border-radius: .8vmin;
  outline: none;
  cursor: pointer;
}

button.btn-sm {
  font-size: 2.5vmin;
  padding: 1vmin 1.3vmin;
}

button.btn-xs {
  font-size: 2vmin;
  padding: .8vmin 1vmin;
}

button:disabled, form:invalid button[type="submit"] {
  cursor: not-allowed;
  background-color: var(--gray-2);
}


button:disabled, form:invalid button[type="submit"] {
  cursor: not-allowed;
  background-color: var(--tan-4);
}

button[type="submit"] {
  grid-column: span 2;
  margin: 1vmin 0 0;
}